<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Personal_lec03 Sample3-3</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  ユーザ名：
  <div sec:authentication="name"></div>
  ロール名：
  <div sec:authentication="principal.authorities"></div>
  <div sec:authorize="hasRole('ROLE_ADMIN')">
    <span>あなたは管理者ですね</span>
  </div>
  <div sec:authorize="hasRole('ROLE_USER')">
    <span>あなたはユーザですね</span>
  </div>

  <div>
    <form th:action="@{/sample3/step6}" method="post">
      <input type="number" name="hiku1" />-
      <input type="number" name="hiku2" />
      <input type="submit" value="計算"><input type="reset" value="リセット">
      <div th:if="${hikukekka}">
        結果：[[${hikukekka}]]
      </div>

      <p>
        <a href="/sample3/step7">Sample3-7へGETで移動</a>
      </p>
    </form>
  </div>
</body>

</html>
